@model Outreach.CXT.Demo.Server.Models.ConnectViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Outreach login connect page</title>
</head>
<body>
    <script>

    var url = new URL(window.location.href);
    var token = '@Model.Token';
    var expiresAt = '@Model.ExpiresAt';
    var target ='@Model.AddonHostOrigin';

    var data = JSON.stringify({
        type: 'cxt:connect:token',
        token, 
        expiresAt
    });
    if (window.opener) {
        window.opener.postMessage(data, target);
    }

        window.close();
    </script>


</body >
</html >