@model Outreach.CXT.Demo.Server.Models.ConnectViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Outreach login connect page</title>
</head>
<body>
<script>
        
    var result = '@Model.Result';

    var data = JSON.stringify({
        type: 'cxt:connect:token',
        result
    });
    if (window.opener) {
        window.opener.postMessage(data, target);
    }

    window.close();
</script>


</body >
</html >
